---
import { GETAllCountriesLocal } from "../../services/countries"
import CardCountry from "./CardCountry.astro"
import LoadingCountries from "./LoadingCountries.astro"

const countries = await GETAllCountriesLocal()
---

<div>
	<ul
		class="grid-countries grid items-stretch gap-16"
		style="grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); grid-template-rows: auto;"
	>
		{
			countries.length > 0 &&
				countries.map((country) => {
					const { name, cca3, flags, population, region, capital } = country

					return (
						<li class="h-full overflow-hidden rounded-md">
							<CardCountry
								country={{
									name,
									cca3,
									flags,
									population,
									region,
									capital,
								}}
							/>
						</li>
					)
				})
		}
	</ul>

	<hr class="my-12 border-dark-100/40" />

	<LoadingCountries />
</div>
