---
import { GETAllCountriesLocal } from "../../services/countries"
import CardCountry from "./CardCountry.astro"
import LoadingCountries from "./LoadingCountries.astro"

const countries = await GETAllCountriesLocal()
---

<div>
	<ul
		class="grid-countries grid items-stretch gap-16"
		style="grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); grid-template-rows: auto;"
	>
		{
			countries.length > 0 &&
				countries.map((country) => {
					const { name, cca3, flags, population, region, capital } = country

					return (
						<li
							data-country-name={name.common.toLocaleLowerCase().trim()}
							data-country-region={region.toLocaleLowerCase()}
							class="h-full overflow-hidden rounded-md"
							style="filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.03));"
						>
							<CardCountry
								country={{
									name,
									cca3,
									flags,
									population,
									region,
									capital,
								}}
							/>
						</li>
					)
				})
		}
	</ul>

	<hr class="my-12 border-light-100/40 dark:border-dark-100/40" />

	<LoadingCountries />
</div>
