---
import Astronaut from "@components/Astronaut.astro"
import Link from "@components/Link.astro"
import BackArrow from "@icons/BackArrow.astro"
import Home from "@icons/Home.astro"
import Layout from "@layout/Layout.astro"
---

<Layout title="404 Page not found | Details country | Countries API">
	<section>
		<div class="flex flex-col gap-y-20">
			<Link href="[back]" label="Back">
				<BackArrow slot="icon" />
			</Link>

			<article class="flex flex-wrap items-center justify-between gap-x-8 lg:flex-nowrap">
				<div class="w-3/5">
					<Astronaut />
				</div>
				<div class="w-2/5 text-light-100 dark:text-light-300">
					<h1 class="mb-2 text-8xl font-bold">404</h1>
					<h2 class="mb-5 text-5xl font-semibold">UH OH! You're lost.</h2>
					<p
						>The page you are looking for does not exist. How you got here is a mystery. But you can
						click the button below to go back to the homepage.
					</p>

					<Link href="/" label="Home" extraClases="mt-4">
						<Home slot="icon" />
					</Link>
				</div>
			</article>
		</div>
	</section>
</Layout>
