---
import GridCountries from "../components/countrie/GridCountries.astro"
import Filter from "../components/Filter.astro"
import Layout from "../layout/Layout.astro"
---

<Layout title="Home">
	<section>
		<h1 class="hidden" aria-label="Where in the world?"> Where in the world? </h1>

		<article class="space-y-12">
			<Filter />

			<GridCountries />
		</article>
	</section>
</Layout>
