---
import MoonOutline from "./icons/MoonOutline.astro"
import MoonSolid from "./icons/MoonSolid.astro"
---

<header
	class="bg-white px-5 dark:bg-dark-100 lg:px-10"
	style="filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.03));"
>
	<div class="mx-auto max-w-screen-xl py-6">
		<div class="flex items-center justify-between">
			<a href="/" class="block text-light-100 dark:text-white">
				<span class="text-2xl font-extrabold">Where in the world?</span>
			</a>

			<button
				data-click-event="event/darkmode"
				class="inline-flex items-center space-x-2 text-light-100 dark:text-white"
			>
				<div class="">
					<MoonOutline />

					<MoonSolid />
				</div>

				<span class="font-semibold">Dark Mode</span>
			</button>
		</div>
	</div>
</header>

<script>
	const darkModeButton = document.querySelector("[data-click-event='event/darkmode']")

	darkModeButton?.addEventListener("click", () => {
		document.documentElement.classList.toggle("dark")
	})
</script>
